body {
  background: rgba(255, 255, 255, 0.9);
}
.container {
margin: 7px;
}

.navbar-brand {
  font-size: 45px;
}
.navbar-right{
font-size: 20px;
}
svg {
  font: 10px sans-serif;
}
.axis {
  shape-rendering: crispEdges;
}
.axis path, .axis line {
  fill: none;
  stroke-width: 1px;
  opacity: 0.5;
}
.x.axis path {
  stroke: #000;
  stroke-width: 1px;
}
.x.axis line {
  stroke: #000;
  stroke-opacity: 0.1;
}
.y.axis line {
  stroke: #000;
  stroke-opacity: 0.1;
}
path.line {
  fill: none;
  stroke: url(#gradient);
  stroke-width: 2px;
}
path.area {
  fill: none;
  stroke: url(#gradient);
  opacity: 0.1
}
rect.pane {
  fill: none;
  pointer-events: all;
}
g{
  font-size: 11px;
}
